body {
  font-size: 16px;
  color: #fff;
  background-color: #479DE2;
  font-family: 'Oxygen', sans-serif;
}
#header-nav {
  background-color: #B1D9F8;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #FFEC17 ;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand p span { 
  vertical-align: middle;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


h2 {
  text-align: center;
  margin-bottom: 50px;
}
h3 {
  text-align: center;
  padding-top: 10px;
}
.section-food {
  background-color: #558EBC;
  height: 1000px;
  margin: 5px 10px 5px;
  margin-bottom: 35px;
  }

.section-food p {
  padding: 5px;
  text-align: justify-all;
}

@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 30px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

 li {
  text-align: center;
 }
